<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only icon-large (click)="editProfile()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

  <ion-list no-lines no-margin>

  <!--  No Image   -->
    <ion-item [hidden]="hasImage" color="primary">
      <ion-row>
        <ion-col text-center>
          <div class="userPhoto" style="background-image:url('assets/avatar/avatar.png')"></div>
          <h2 align="center" *ngIf="hasName" >{{ currentUser.displayName }}</h2>
          <h2 align="center" *ngIf="!hasName" >No Display Name</h2>
        </ion-col>
      </ion-row>
    </ion-item>

  <!--  Has Image   -->
    <ion-item *ngIf="hasImage" color="primary">
      <ion-row>
        <ion-col text-center>
          <img src="{{currentUser?.photoURL}}" class="userPhoto" />
          <h2 align="center" *ngIf="hasName" >{{ currentUser.displayName }}</h2>
          <h2 align="center" *ngIf="!hasName" >No Display Name</h2>
        </ion-col>
      </ion-row>
    </ion-item>

  <!--  User Email & Verification Status   -->
    <ion-item text-center>
      <h2 align="center">{{ currentUser.email }}</h2>
      <ion-badge color="danger2" *ngIf="!emailVerified">unverified</ion-badge>
      <ion-badge color="steel2" *ngIf="emailVerified">verified</ion-badge>
    </ion-item>

  </ion-list>

  <ion-list no-margin no-lines>

    <ion-item color="steel4">

        <ion-row>
          <ion-col center text-center>
            <p>PROJECTS</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center col-3>
            <p>ACTIVE</p>
            <ion-badge color="steel3">000</ion-badge>
          </ion-col>
          <ion-col center text-center col-3>
            <p>JOINED</p>
            <ion-badge color="steel3">000</ion-badge>                  
          </ion-col>
          <ion-col center text-center col-3>
            <p>ARCHIVED</p>
            <ion-badge color="steel3">000</ion-badge>
          </ion-col>
          <ion-col center text-center col-3>
            <p>TOTAL</p>
            <ion-badge color="steel3">000</ion-badge>
          </ion-col>        
        </ion-row>

    </ion-item>

<!--     <ion-item color="primary">
      <ion-row>
        <ion-col center text-center>
          <p>FRIENDS</p>
        </ion-col>
      </ion-row>
    </ion-item> -->

  </ion-list>

</ion-content>


<ion-footer>

  <ion-toolbar>

    <!--  User ID   -->
    <p align="center">ID: {{ currentUser.uid }}</p>

  </ion-toolbar>

</ion-footer>