<ion-menu [content]="content">
  <ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title>SHOTLIST.IO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-turq" no-bounce>
  <button color="primary" menuClose ion-item text-wrap detail-none *ngIf="!hasPhoto" (click)="goToProfile()">
    <ion-row>
      <ion-col text-center>
        <h2 align="center">Welcome</h2>
        <div class="userPhotoMenu" style="background-image:url('assets/avatar/avatar.png')"></div>
        <h2 align="center" *ngIf="hasName" >{{ currentUser?.displayName }}</h2>
        <h3 align="center" *ngIf="!hasName" >{{ currentUser?.email }}</h3>    
      </ion-col>
    </ion-row>
    </button>

  <button menuClose ion-item text-wrap detail-none *ngIf="hasPhoto" (click)="goToProfile()">
    <ion-row>
      <ion-col text-center>
        <h2 align="center">Welcome</h2>
        <div class="userPhotoMenu" style="background-image:url( {{ currentUser.photoURL }} )"></div>
        <h2 align="center" *ngIf="hasName" >{{ currentUser?.displayName }}</h2>
        <h2 align="center" *ngIf="!hasName" >{{ currentUser?.email }}</h2>    
      </ion-col>
    </ion-row>
  </button>
    
    <ion-list no-lines>
      <button large color="primary" detail-none menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

  <ion-footer no-border>
    <button large ion-button full clear icon-right menuClose detail-none color="white" (click)="logOut()">
      Logout
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>