<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
<!--       <ion-buttons end>
      <button ion-button icon-only icon-large (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

<ion-list no-lines no-margin>

  <ion-item *ngIf="!hasImage && !pictureTaken && !pictureChosen" color="primary">
    <ion-row>
      <ion-col text-center>
        <div class="userPhoto" style="background-image:url('assets/avatar/avatar.png')"></div>
          <ion-fab bottom right>
            <button ion-fab mini color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
            <ion-fab-list side="left">
              <button ion-fab color="light" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
              <button ion-fab color="light" (click)="openGallery()"><ion-icon name="images"></ion-icon></button>
              <button ion-fab color="danger2" (click)="deletePicture2()"><ion-icon name="trash"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
      </ion-col>
    </ion-row>
  </ion-item>

  

  <ion-item [hidden]="!pictureTaken" >
    <img id="camera-image" />
    <ion-fab bottom right>
      <ion-row>
        <ion-col>
          <button ion-fab mini color="danger2"><ion-icon name="close-circle"></ion-icon></button>
        </ion-col>
        <ion-col>
          <button ion-fab mini color="green"><ion-icon name="checkmark-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-fab>
  </ion-item>
  
<!--
  <ion-item [hidden]="!pictureTaken" >
    <img id="camera-image" class="userPhoto" />
    <div class="userPhoto" style="background-image:url('camera-image')"></div>
    <ion-fab bottom right>
      <ion-row>
        <ion-col>
          <button ion-fab mini color="danger2"><ion-icon name="close-circle"></ion-icon></button>
        </ion-col>
        <ion-col>
          <button ion-fab mini color="green"><ion-icon name="checkmark-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-fab>
  </ion-item>

  <ion-item *ngIf="hasImage">
    <ion-row>
      <ion-col text-center>
        <div class="userPhoto" style="background-image:url( {{ currentUser.photoURL }} )"></div>
      </ion-col>
    </ion-row>
  </ion-item>
 -->
</ion-list>



  <ion-list no-margin>
    <form [formGroup]="editProfileForm" (submit)="updateUserProfile()" novalidate>
    <ion-item>
      <ion-label color="steel2" stacked>Name</ion-label>
      <ion-input formControlName="userDisplayName" [(ngModel)]="currentUser.displayName" clearInput placeholder="Enter your name"></ion-input>
    </ion-item>
    </form>
  </ion-list>

</ion-content>



<ion-footer>
  <form [formGroup]="editProfileForm" (submit)="updateUserProfile()" novalidate>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <button ion-button block color="steel2" type="button" (click)="closeModal()">
            Cancel
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block color="green" type="submit">
            Save
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </form>
</ion-footer>