<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Shot</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-bottom>

<ion-item>
	
	<ion-list no-lines *ngIf="!hasImage && !pictureTaken && !pictureChosen">
	  <button ion-button block large icon-end (click)="takePicture()">
		Take a picture
		<ion-icon name="camera"></ion-icon>
	  </button>
	  <h2 align="center">or</h2>
	  <button ion-button block large icon-end (click)="openGallery()">
		Choose a photo
		<ion-icon name="images"></ion-icon>
	  </button>
	</ion-list>

    <img src="{{currentImage}}" *ngIf="hasImage && !pictureTaken && !pictureChosen" />
    <ion-fab bottom right *ngIf="hasImage && !pictureTaken && !pictureChosen">
	    <button ion-fab mini color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
	    <ion-fab-list side="left">
	        <button ion-fab color="light" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
	        <button ion-fab color="light" (click)="openGallery()"><ion-icon name="images"></ion-icon></button>
			<button ion-fab color="danger2" (click)="deletePicture()"><ion-icon name="trash"></ion-icon></button>
	    </ion-fab-list>
	</ion-fab>

    <img id="camera-image" [hidden]="!pictureTaken" />
    <ion-fab bottom right [hidden]="!pictureTaken">
	    <ion-row>
		    <ion-col>
				<button ion-fab mini color="danger2" (click)="cancelPicture()"><ion-icon name="close-circle"></ion-icon></button>
			</ion-col>
			<ion-col>
		    	<button ion-fab mini color="green" (click)="updatePicture()"><ion-icon name="checkmark-circle"></ion-icon></button>
		    </ion-col>

		</ion-row>
    </ion-fab>

    <img id="gallery-image" [hidden]="!pictureChosen" />
    <ion-fab bottom right [hidden]="!pictureChosen">
	    <ion-row>
		    <ion-col>
				<button ion-fab mini color="danger2" (click)="cancelGallery()"><ion-icon name="close-circle"></ion-icon></button>
			</ion-col>
			<ion-col>
		    	<button ion-fab mini color="green" (click)="updatePicture()"><ion-icon name="checkmark-circle"></ion-icon></button>
		    </ion-col>

		</ion-row>
    </ion-fab>

  </ion-item>

  <form [formGroup]="editShotForm" (submit)="updateShot()" novalidate>
  
	<ion-list>

	  <ion-item>
	    <ion-label stacked>Shot Number</ion-label>
	    <ion-input formControlName="shotNumber" [(ngModel)]="currentShotNumber" type="number"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label stacked>Sub</ion-label>
	    <ion-input formControlName="shotSub" [(ngModel)]="currentShotSub"></ion-input>
	  </ion-item>

		<ion-item>
			<ion-segment color="steel1" formControlName="shotLoc" [(ngModel)]="currentShotLoc">
		   		<ion-segment-button value="INT">
		    		Interior
		   		</ion-segment-button>
		  		<ion-segment-button value="EXT">
		    		Exterior
		    	</ion-segment-button>
		   		<ion-segment-button value="VFX">
		    		VFX
		   		</ion-segment-button>
	 		 </ion-segment>
	 	</ion-item>

		<ion-item>
			<ion-segment color="steel1" formControlName="shotTime" [(ngModel)]="currentShotTime">
		   		<ion-segment-button value="DAY">
		    		Day
		   		</ion-segment-button>
		  		<ion-segment-button value="NIGHT">
		    		Night
		    	</ion-segment-button>
		   		<ion-segment-button value="VFX">
		    		VFX
		   		</ion-segment-button>
	 		 </ion-segment>
	 	</ion-item>

	  <ion-item>
	    <ion-label stacked>Shot Title</ion-label>
	    <ion-input formControlName="title" [(ngModel)]="currentTitle" clearInput></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label stacked>Shot Description</ion-label>
	    <ion-input formControlName="description" [(ngModel)]="currentDescription" clearInput></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label stacked>Shot Type</ion-label>
	    <ion-select interface="popover" formControlName="shotType" [(ngModel)]="currentShotType" placeholder="{{currentShotType}}">
	      <ion-option value="cu">CU</ion-option>
	      <ion-option value="mcu">MCU</ion-option>
	      <ion-option value="ecu">ECU</ion-option>
	      <ion-option value="wide">Wide</ion-option>
	      <ion-option value="long">Long</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
	    <ion-label stacked>Camera Movement</ion-label>
	    <ion-select interface="popover" formControlName="cameraMovement" [(ngModel)]="currentCameraMovement" placeholder="{{currentCameraMovement}}">
	      <ion-option value="pan">Pan</ion-option>
	      <ion-option value="tilt">Tilt</ion-option>
	      <ion-option value="zoom">Zoom</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
	    <ion-label stacked>Page Count</ion-label>
	    <ion-input formControlName="pageCount" type="number" [(ngModel)]="currentPageCount"></ion-input>
	  </ion-item>
	  
	  <ion-item>
	    <ion-label stacked>Eighths</ion-label>
	    <ion-select interface="popover" formControlName="pageEighths" [(ngModel)]="currentPageEighths" placeholder="{{currentPageEighths}}/8">
	      <ion-option value="0">0/8</ion-option>
	      <ion-option value="1">1/8</ion-option>
	      <ion-option value="2">2/8</ion-option>
	      <ion-option value="3">3/8</ion-option>
	      <ion-option value="4">4/8</ion-option>
	      <ion-option value="5">5/8</ion-option>
	      <ion-option value="6">6/8</ion-option>
	      <ion-option value="7">7/8</ion-option>
	    </ion-select>
	  </ion-item>

	</ion-list>

  </form>

</ion-content>

<ion-footer>

  <form [formGroup]="editShotForm" (submit)="updateShot()" novalidate>

	  <ion-toolbar>
	    <ion-row>
	      <ion-col>
	        <button ion-button block color="danger2" type="button" (click)="deleteShot()">
	          Delete Shot
	        </button>
	      </ion-col>
	    </ion-row>

	    <ion-row [hidden]="!editShotForm.pristine">
	      <ion-col>
	    	<button ion-button block color="steel2" type="button" (click)="closeModal()">
		      Exit
		    </button>
		  </ion-col>
	    </ion-row>

		<ion-row [hidden]="editShotForm.pristine">
		  <ion-col>
			<button ion-button block color="steel2" type="button" (click)="closeModal()">
		      Cancel
		    </button>
		  </ion-col>

		  <ion-col>
	        <button ion-button block color="green" type="submit">
	          Save
	        </button>
	      </ion-col>
	    </ion-row>
	  </ion-toolbar>
	
  </form>

</ion-footer>
